/* CUSTOM PROPERTIES */

:root {
    /* PRIMARY COLORS */
    --clr-moderate-violet: hsl(263, 55%, 52%);
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
  
    /* NEUTRAL COLORS */
    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);

    /* TRANSLUCENT COLORS FOR TEXT */
    --clr-trans-white-50: rgba(255, 255, 255, 0.5);
    --clr-trans-white-70: rgba(255, 255, 255, 0.7);
    --clr-trans-black-50: rgba(72, 85, 106, 0.5);
    --clr-trans-black-70: rgba(72, 85, 106, 0.7);
  
    /* FONTS */
    --serif: serif;
    --sans: Barlow Semi Condensed, sans-serif;
  
    /* FONT SIZING */
    --fs-11: 0.688rem;
    --fs-12: 0.75rem;
    --fs-13: 0.813rem;
    --fs-14: 0.875rem;
    --fs-15: 0.938rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-36: 2.25rem;

    /* FONT WEIGHT */
    --fw-medium: 500;
    --fw-semi-bold: 600;
  
    /* SET PRIMARY FONT */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
}
  
  /* RESETS */
  
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

/* UTILITY CLASSES */

.verified-white {
    font-size: var(--fs-11);
    font-weight: var(--fw-medium);
    color: var(--clr-trans-white-50);
}

.main-quote-white {
    font-size: var(--fs-13);
    font-weight: var(--fw-medium);
    line-height: 18px;
    color: var(--clr-trans-white-70);
}

.verified-black {
    font-size: var(--fs-11);
    font-weight: var(--fw-medium);
    color: var(--clr-trans-black-50);
}

.main-quote-black {
    font-size: var(--fs-13);
    font-weight: var(--fw-medium);
    line-height: 18px;
    color: var(--clr-trans-black-70);
}

body {
    background-color: var(--clr-light-grayish-blue);
}

section {
    max-width: 327px;
    border-radius: 8px;
    padding: 32px;
}

section img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: left;
}

.daniel {
    background-color: var(--clr-moderate-violet);
}

.jonathan {
    background-color: var(--clr-very-dark-grayish-blue);
}

.jeanette {

}

.patrick {
    background-color: var(--clr-very-dark-blackish-blue);
}

.kira {

}