/* CUSTOM PROPERTIES */

:root {
    /* PRIMARY COLORS */
    --clr-moderate-violet: hsl(263, 55%, 52%);
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
  
    /* NEUTRAL COLORS */
    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);

    /* TRANSLUCENT COLORS FOR TEXT */
    --clr-trans-white-50: rgba(255, 255, 255, 0.5);
    --clr-trans-white-70: rgba(255, 255, 255, 0.7);
    --clr-trans-black-50: rgba(72, 85, 106, 0.5);
    --clr-trans-black-70: rgba(72, 85, 106, 0.7);

    /* PROFILE PIC BORDER COLORS */
    --clr-border-dark-violet: #733FC8;
    --clr-border-light-violet: #A775F1;
  
    /* FONTS */
    --serif: serif;
    --sans: Barlow Semi Condensed, sans-serif;
  
    /* FONT SIZING */
    --fs-11: 0.688rem;
    --fs-12: 0.75rem;
    --fs-13: 0.813rem;
    --fs-14: 0.875rem;
    --fs-15: 0.938rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-36: 2.25rem;

    /* FONT WEIGHT */
    --fw-medium: 500;
    --fw-semi-bold: 600;
  
    /* SET PRIMARY FONT */
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 16px;
}
  
  /* RESETS */
  
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

/* UTILITY CLASSES */

.white-text {
    /* CONTENT STYLING */
    color: var(--clr-white);
}

.dark-text {
    /* CONTENT STYLING */
    color: var(--clr-very-dark-grayish-blue);
}

.verified-white {
    /* CONTENT STYLING */
    font-size: var(--fs-11);
    font-weight: var(--fw-medium);
    color: var(--clr-trans-white-50);
}

.main-quote-white {
    /* CONTENT STYLING */
    font-size: var(--fs-13);
    font-weight: var(--fw-medium);
    line-height: 18px;
    color: var(--clr-trans-white-70);
}

.verified-black {
    /* CONTENT STYLING */
    font-size: var(--fs-11);
    font-weight: var(--fw-medium);
    color: var(--clr-trans-black-50);
}

.main-quote-black {
    /* CONTENT STYLING */
    font-size: var(--fs-13);
    font-weight: var(--fw-medium);
    line-height: 18px;
    color: var(--clr-trans-black-70);
}

body {
    /* CONTENT STYLING */
    background-color: var(--clr-light-grayish-blue);

    /* LAYOUT */
    display: grid;
    place-content: center;
}

.wrapper {
    /* LAYOUT */
    display: grid;
    place-content: center;
    gap: 1.45rem;
    margin: 4.5rem 0;
}

section {
    /* LAYOUT */
    max-width: 327px;
    border-radius: 8px;
    padding: 26px 32px 32px 32px;
}

section img {
    /* LAYOUT */
    box-sizing: content-box;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
}

.daniel img {
    /* CONTENT STYLING */
    border: 2px solid var(--clr-border-light-violet);
}

.patrick img,
.jonathan img {
    /* CONTENT STYLING */
    border: 2px solid var(--clr-border-dark-violet);
}

.jeanette img,
.kira img {
    /* CONTENT STYLING */
    border: 2px solid var(--clr-white);
}

h1 {
    /* CONTENT STYLING */
    font-size: var(--fs-13);
    font-weight: var(--fw-medium);
}

h3 {
    /* CONTENT STYLING */
    font-size: var(--fs-20);
    font-weight: var(--fw-semi-bold);

    /* LAYOUT */
    margin-top: 1.225rem;
    margin-bottom: 1rem;
}

.daniel h3 {
    /* LAYOUT */
    margin-bottom: 2.5rem;
}

.daniel .main-quote {
    /* LAYOUT */
    padding-right: 0.875rem;
}

.daniel {
    /* CONTENT STYLING */
    background-color: var(--clr-moderate-violet);
}

.jonathan {
    /* CONTENT STYLING */
    background-color: var(--clr-very-dark-grayish-blue);
}

.jeanette,
.kira {
    /* CONTENT STYLING */
    background-color: var(--clr-white);
}

.patrick {
    /* CONTENT STYLING */
    background-color: var(--clr-very-dark-blackish-blue);
}


/* ATTRIBUTION */
.attribution { 
    /* CONTENT STYLING */
    font-size: 11px; 
    text-align: center;
    /* LAYOUT */
    margin-bottom: 0.5rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}